#pythom -m pip install --upgrade pip
#python.exe -m pip install --upgrade pip --user

py -m pip sentence-splitter
py -m pip transformers
py -m pip SentencePiece
#py -m pip install streamlit==0.75.0
#pip install pip --upgrade

#for ocr.py
#streamlit cache clear
py -m pip install streamlit --upgrade
#pip install streamlit --upgrade
#pip install googletrans
py -m pip install googletrans
#pip install googletrans==3.1.0a0
py -m pip install googletrans == 3.1.0a0
#pip install PIL
#pip install easyocr
py -m pip install easyocr
#py -m pip uninstall opencv-python-headless==4.5.5.62
#pip uninstall opencv-python-headless==4.5.5.62
#pip install opencv-python-headless==4.5.2.52
py -m pip install opencv-python-headless==4.5.2.52
#pip install easyocr
