py -m pip install sentence-splitter
py -m pip install transformers
py -m pip install SentencePiece
py -m pip install torch

#!pip install sentence-splitter
#!pip install transformers
#!pip install SentencePiece
